*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
@mixin background-img($url, $size: cover, $position: center, $repeat: no-repeat) {
    background-image: url(#{$url});
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

$white:white;
$black:black;
$gray:rgba(128, 128, 128, 0.795);
$pink:rgb(231, 144, 159);

a{
    color: $white;
    border: 1px solid $white;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-size: clamp(0.8rem, 1.5vw, 2rem);
}
a:hover {
    background-color: $white;
    color: $black;
    border: 1px solid $black; 
}
i{
    cursor: pointer;
}
ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    @media (max-width: 500px){
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:20px;
    }
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $pink;
}