header {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 20px;
    align-items: center;
    background: $black;
    color: $white;
    
    #currentDate {
        font-size: 1.2rem;
        margin-bottom: 10px; // Spacing below the date
        font-weight: bold;
    }
    h1 {
        font-size: clamp(1rem, 2.5vw, 3rem);
    }
    
}
