main {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    background: $gray;
    border-radius: 10px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 0 20px 0;
        width: 100%;
        .password-display {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 95%; 
            margin-bottom: 20px;
        }
        .control-group {
            margin-top: 10px;
        }
        .checkboxes {
            margin: 20px 0;
            font-size: clamp(0.8rem, 1.5vw, 2rem);
            #lowercase,
            #uppercase,
            #numbers,
            #symbols {
                cursor: pointer;
            }
        }
        #passwordOutput {
            width: 100%;
            font-size: clamp(0.8rem, 1.5vw, 1.5rem);
            padding: 10px;
            text-align: center;
            border-radius: 10px;
        }
        #generateBtn {
            margin-top: 20px;
            font-size: clamp(0.8rem, 1.5vw, 1.5rem);
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            animation: pulse 2s infinite ease-in-out;
            transition: transform 0.1s;
            border: none;
            @keyframes pulse {
                0% {
                    transform: scale(1);
                    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
                }
                70% {
                    transform: scale(1.05);
                    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
                }
                100% {
                    transform: scale(1);
                    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
                }
            }
        }
        #generateBtn:hover {
            animation: none;
            transform: scale(1.05);
            background: $black;
            color: $white;
        }
    }
}
