main {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: center;
    background: $gray;
    border-radius: 10px;
    @media (max-width: 380px){
        width: 85%;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 50px 0 20px 0;
        width: 100%;
        .password-display {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 95%;
            margin-bottom: 20px;
        }
        .control-group {
            margin-top: 10px;
        }
        .char-options-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            margin: 20px 0;
        }
        .char-option {
            background-color: $white;
            color: $black;
            font-weight: bold;
            border: 2px solid $black;
            padding: 8px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition:
                background-color 0.3s,
                color 0.3s,
                border-color 0.3s;
            font-size: clamp(0.9rem, 1.2vw, 1.2rem);
        }

        .char-option:hover {
            background-color: $black;
            color: $white;
        }

        .char-option.active {
            background-color: $selected-color;
            color: $white;
            border-color: $selected-color;
        }
        #passwordOutput {
            width: 100%;
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            padding: 10px;
            text-align: center;
            border-radius: 10px;
        }
        #generateBtn {
            margin-top: 20px;
            font-size: clamp(1rem, 1.5vw, 1.5rem);
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            animation: pulse 2s infinite ease-in-out;
            transition: transform 0.1s;
            border: none;
            @keyframes pulse {
                0% {
                    transform: scale(1);
                    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
                }
                70% {
                    transform: scale(1.05);
                    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
                }
                100% {
                    transform: scale(1);
                    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
                }
            }
        }
        #generateBtn:hover {
            animation: none;
            transform: scale(1.05);
            background: $black;
            color: $white;
        }
    }
}
